<footer class="footer">
    <div class="footer-container">
        <div class="footer-links">
            <p>Yazılım</p>
            <p>İnovasyon</p>
            <p>Teknoloji</p>
            <p>Gelecek</p>
        </div>
        <p class="footer-text">&copy; 2025 Yusuf İKRİ. Tüm Hakları Saklıdır.</p>
    </div>
</footer>
